/* 
.pagination-swiper-container {
  max-width: 300px;
  margin: 20px auto;
}

.pagination-button {
  padding: 8px;
  height: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  transition: background 0.2s ease, color 0.2s ease;
}

.pagination-button.active {
  background-color: #1890ff;
  color: #fff;
  border-radius: 4px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000bf;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 8px;
} */
